openapi: '3.0.0'

info:
  title: AIRR Data Commons Registry API
  version: '1.0.0'
  contact:
    name: AIRR Community Common Repository Working Group
    url: 'http://www.airr-community.org/'
    email: common-repository@airr-community.org
  description: >
    Major Version 1 of the Adaptive Immune Receptor Repertoire (AIRR)
    Data Commons Registry web service application programming interface (API).
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/

servers:
  - url: https://adc-registry.airr-community.org/
    description: AIRR Community ADC Registry
    variables:
      basePath:
        default: /

components:
  schemas:
    # Base registry /info endpoint object
    info_object:
      type: object
      description: Provides information about the service
      properties:
        title:
          type: string
          example: AIRR Data Commons Registry API
        version:
          type: string
          example: '1.0'
        description:
          type: string
          example: Service that provides registry information for the repositories in the AIRR Data Commons
        contact: 
          type: object
          properties:
            name:
              type: string
              example: AIRR Community Common Repository Working Group
            url:
              type: string
              example: http://www.airr-community.org
            email:
              type: string
              example: common-repository@airr-community.org
        license:
          type: object
          properties:
            name:
              type: string
              example: Creative Commons Attribution 4.0 International
            url:
              type: string
              example: https://creativecommons.org/licenses/by/4.0/
    # Info object for the repository itself
    repository_info_object:
      type: object
      description: Provides information about the repository
      properties:
        title:
          type: string
          example: iReceptor Public Archive - Repository 1
        version:
          type: string
          example: '4.0'
        description:
          type: string
          example: First repository in the iReceptor Public Archive repository cluster, running v4.0 of the iReceptor Turnkey software and impleneting v1.2 of the AIRR Data Commons API.
        contact:
          type: object
          properties:
            name:
              type: string
              example: iReceptor Support
            url:
              type: string
              example: https://github.com/sfu-ireceptor/turnkey-service-php
            email:
              type: string
              example: support@ireceptor.org
        data_license:
          type: object
          properties:
            name:
              type: string
              example: Creative Commons Attribution 4.0 International
            url:
              type: string
              example: https://creativecommons.org/licenses/by/4.0/

    # Info object for the ADC API the repository inplements
    api_info_object:
      type: object
      description: Provides information about the API implemented by the repository
      properties:
        title:
          type: string
          example: AIRR Data Commons API
        version:
          type: string
          example: '1.2.0'
        description:
          type: string
          example: Version 1.2 of the Adaptive Immune Receptor Repertoire (AIRR) Data Commons (ADC) web service application programming interface (API)
        contact:
          type: object
          properties:
            name:
              type: string
              example: AIRR Community
            url:
              type: string
              example: www.airr-community.org
            email:
              type: string
              example: common-repository@airr-community.org

    # repository object
    repository_object:
      type: object
      description: Object that describes an ADC repository.
      properties:
        url:
          type: string
          example: https://ipa1.ireceptor.org
        repository:
          $ref: '#/components/schemas/repository_info_object'
        api:
           $ref: '#/components/schemas/api_info_object'
    # list of repositories
    repository_list:
      type: array
      items:
        $ref: '#/components/schemas/repository_object'

    # The response object for the /repositories endpoint
    repositories_response:
      type: object
      properties:
        repositories:
          $ref: '#/components/schemas/repository_list'

    # error response
    error_response:
      type: object
      properties:
        message:
          type: string
          description: Detail about the error

paths:
  /adc-registry/v1/:
    get:
      description: Service heartbeat.
      operationId: get_service_status
      tags:
        - adc-registry
      responses:
        '200':
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  /adc-registry/v1/info:
    get:
      description: Service information.
      operationId: get_info
      tags:
        - adc-registry
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/info_object'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'

  /adc-registry/v1/repositories:
    get:
      description: >
        Returns a list of repositories and their associated Info objects
      operationId: get_repositories
      tags:
        - adc-registry
      responses:
        '200':
          description: |
            A successful call returns the repertoire data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repositories_response'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
  
  /ga4gh/service-info:
    # Links to the latest version of Global Alliance for Global Health (GA4GH) service-info - https://www.ga4gh.org/product/service-info/
    $ref: 'https://raw.githubusercontent.com/ga4gh-discovery/ga4gh-service-info/develop/service-info.yaml#/paths/~1service-info'
